@font-face {
    font-family: riot-games;
    font-weight: 50;
    src: url(../Fonts_Package/Fonts_Package/Spiegel-OTF/Spiegel-Regular.otf) format(truetype);
  }
  
body {
    font-family: riot-games;
    background-color: white;
}
  
header {
    background-color: #03224c;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 30px;
    width: 100%;
}

#logo-code {
    width: 150px;
    margin-left: 25px;
}
  
.mainDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainNav ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.mainNav a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.mainNav a:hover {
    background-color: cyan;
    color: black;
    border: 1px solid blueviolet;
    border-radius: 30px;
    padding: 10px;
}

form {
    background-color: #fff;
    padding: 100px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: inline-block;
    text-align: left;
}

.error-message p {
    color: red!important;
}

label {
    display: block;
    margin-bottom: 5px;
    font-size: 25px;
}

input[type="text"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 15px;
    font-family: riot-games;
}

input[type="submit"] {
    background-color: #03224c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #45a049;
}

input:invalid {
    border : 2px solid red;
}

#div-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    font-size: 60px;
}

h2 {
    font-size: 40px;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #303030;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    align-items: center;
}

#mainfooter img {
    width: 150px;
}

#thirdFooter img {
    width: 30px;
    margin: 25px;
}

#fourthFooter {
    display: flex;
    gap: 30px;
}

@media (max-width: 768px){

    header {
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: auto;
    }

    body {
        width: 100%;
        margin: auto;
    }

    .mainDiv {
        flex-direction: column;
    }

    #logo-code {
        width: 100px;
        margin: 0;
    }

    .mainNav ul {
        flex-direction: column;
        justify-content: center;
    }

    footer {
        flex-direction: column-reverse;
    }

}