@font-face {
    font-family: riot-games;
    font-weight: 50;
    src: url(../Fonts_Package/Fonts_Package/Spiegel-OTF/Spiegel-Regular.otf) format(truetype);
  }
  
body {
    font-family: riot-games;
    background-color: white;
}
  
header {
    background-color: #9966cc;
    justify-content: space-around;
    align-items: center;
    border: 1px solid white;
    border-radius: 30px;
    width: 100%;
}

#logo-code {
    width: 150px;
    margin-left: 25px;
}
  
.mainDiv {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.mainNav ul {
    display: flex;
    list-style-type: none;
    gap: 50px;
}

.mainNav a {
    text-decoration: none;
    font-size: 30px;
    color: white;
}

.mainNav a:hover {
    background-color: white;
    color: black;
    border: 1px solid purple;
    border-radius: 30px;
    padding: 10px;
}

h1 {
    text-align: center;
    font-size: 70px;
    margin-top: 50px;
}

h2 {
    font-size: 50px;
    margin-left: 50px;
}

h3 {
    font-size: 40px;
    
}

.div-container {
    display: flex;
    font-size: 25px;
    margin-right: 10px;
}

.div-container a {
    text-decoration: none;
    color: black;
}

#img-container {
    margin-right: 150px;
    width: 350px;
}

#second-img-container img {
    width: 700px;
    margin-right: 130px;
    margin-top: 50px;
}

.second-div-container {
    font-size: 25px;
    display: flex;
}

.thirdDiv {
    background-color: #9966cc;
    color: black;
    border: 1px solid white;
    border-radius: 30px;
    box-shadow:   inset 0 0 1em purple,
    0 0 2em blueviolet;;
}

.thirdDiv p {
    font-size: 25px;
}

.php {
    display: flex;
    margin-right: 10px;
    font-size: 25px;
}

.php img {
    width: 500px;
    margin-left: 30px;
    margin-right: 100px;
    border: 1px solid white;
    border-radius: 50%;
    background-color: white;
    box-shadow: 0 0 10px cyan;
}

.fourthDiv p {
    margin-left: 40px;
}

.secondArticle {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondArticle img {
    width: 100%;
    margin-bottom: 20px;
}

.fourthDiv img {
    width: 100%;
}

.mainArticle {
    flex-direction: column;
}

.img-css img {
    border: 1px solid white;
    border-radius: 50%;
    margin-top: 40px;
    box-shadow: 0 0 10px cyan;
}

h3 {
    font-size: 35px;
    margin-left: 50px;
}

#conclusion {
    background-color: white;
    color: black;
    width: 100%;
    padding-top: 20px;
    display: flex;
}

footer {
    display: flex;
    justify-content: space-around;
    background-color: #303030;
    color: white;
    border: 1px solid white;
    border-radius: 30px;
    align-items: center;
}

#mainfooter img {
    width: 150px;
}

#thirdFooter img {
    width: 30px;
    margin: 25px;
}

#fourthFooter {
    display: flex;
    gap: 30px;
}



@media (max-width: 768px){
    header {
        
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        background-size: auto;
    }

    body {
        width: 100%;
        margin: auto;
    }

    .mainDiv {
        flex-direction: column;
    }

    #logo-code {
        width: 100px;
        margin: 0;
    }

    .mainNav ul {
        flex-direction: column;
        justify-content: center;
    }

    h2 {
        text-align: center;
        margin: 0;
    }

    h3 {
        margin-left: 0;
    }

    #img-container {
        width: 400px;
        margin: 0;
    }

    .div-container {
        text-align: center;
        flex-direction: column;
    }

    #second-img-container img {
        margin: 0;
        width: 300px;
    }

    .second-div-container {
        text-align: center;
        flex-direction: column;
    }

    .php img {
        margin: 0;
        width: 50%;
    }

    .php {
        flex-direction: column;
        text-align: center;
    }

    .img-code {
        width: 100%;
        margin: 0;
        flex-direction: column;
    }

    .img-code :first-child {
        width: 100%;
    }

    .secondArticle {
        display: flex;
        flex-direction: column;
        text-align: center;
    }
    
    #conclusion {
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    #conclusion img {
        width: 100%;
    }

    #img-results {
        width: 100%;
    }

    #conclusion {
        margin: 0;
    }

    footer {
        flex-direction: column-reverse;
    }

}